{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p><br>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ "docs/lang/introduction/" | absURL }}" role="button" >Get started</a>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">Secure Coding</h2>
        <p>Security Recommendations to code in popular languages.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Home to Languages</h2>
        <p>Compilation of secure coding practices for different languages.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">Giving to community</h2>
        <p>Helping the community access the content hassle free.</p>
      </div>
    </div><br>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
