{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 col-xl-8">
    <article>
      <div class="blog-header">
        <h1>{{ .Title }}</h1>
      </div>
      <div class="text-center">
        {{ if .Params.image.url }}
        <img class="img-simple img-fluid lazyload blur-up border-0 rounded-circle" src="{{ .Params.image.url | safeHTML }}" width="200px" height="200px" alt="{{ .Params.image.alt }}">
        {{ end }}
        <br>
        <div class="text-center">
          <a href="{{ .Params.website | safeHTML }}">{{ .Params.website | safeHTML}}</a>
        </div>
        <br>
        {{ if .Params.socials.twitter }}
        <a href="{{ .Params.socials.twitter | safeHTML }}" target="_blank" style="text-decoration: none;">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>
        </a>
        {{ end }}
        &nbsp;
        {{ if .Params.socials.linkedin }}
        <a href="{{ .Params.socials.linkedin | safeHTML }}" target="_blank" style="text-decoration: none;">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-linkedin"><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"></path><rect x="2" y="9" width="4" height="12"></rect><circle cx="4" cy="4" r="2"></circle></svg>
        </a>
        {{ end }}
        &nbsp;
        {{ if .Params.socials.github }}
        <a href="{{ .Params.socials.github | safeHTML }}" target="_blank" style="text-decoration: none;">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>
        </a>
        {{ end }}
      </div>

      <br>

      {{ .Content | safeHTML }}

    </article>
  </div>
</div>
{{ end }}